<div class="panel panel-default">
  <div class="panel-heading">
      <h1>Birimler</h1>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Birim adı</th>
                  <th>Birim Türü</th>
                  <th>Birim Açılış Tarihi</th>
                  <th>Açıklamalar</th>
                  <th>Uygulama</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let unt of unit">
                  <td>{{unt.name}}</td>
                  <td>{{unt.type}}</td>
                  <td>{{unt.opendate}}</td>
                  <td>{{unt.remark}}</td> 
                  <td><button class="btn btn-outline-danger btn-sm" (click)="deleteUnit(unt.id)">Delete</button></td>
                  
              </tr>
          </tbody>
      </table>
  </div>
</div>
<div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Birim başarılı bir şekilde silindi.</strong>
      </p>
    </div>
  </div>
  <app-confirm-dialog></app-confirm-dialog>  