<h3>Yeni Birim Ekle</h3>>
<form [formGroup]="unitAddForm" (ngSubmit)="add()">
  <div class="form-group">
      <label for="name">Birim Adı</label>
    <input type="text" name="name" id="name" formControlName="name" class="form-control" placeholder="Birim Adı">
    <div class="alert alert-danger" *ngIf="unitAddForm.get('name').hasError('required') && unitAddForm.get('name').dirty">Birim adı alanı dolması zorunludur.</div>
  </div>

    <div class="form-group">
      <label for="type">Birim Türü</label>
      <select class="form-control" formControlName="type" name="type" id="type">
        <option [value]="" *ngFor="let type of types"  >{{type.namee}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="unitAddForm.get('type').hasError('required') && unitAddForm.get('type').touched">Birim türü alanı dolması zorunludur.</div>
    </div>

    <div class="form-group">
        <label for="opendate">Birim Açılış Tarihi</label>
        <input type="text" name="opendate" id="opendate" formControlName="opendate" class="form-control" placeholder="Birim Açılış tarihi">
        <div class="alert alert-danger" *ngIf="unitAddForm.get('opendate').hasError('required') && unitAddForm.get('opendate').dirty">Tarih alanı dolması zorunludur.</div>
      </div>

      <div class="form-group">
          <label for="remark">Birim  Açıklaması</label>
          <input type="text" name="remark" id="remark" formControlName="remark" class="form-control" placeholder="Birim için açıklama alanı">
          <div class="alert alert-danger" *ngIf="unitAddForm.get('remark').hasError('required') && unitAddForm.get('remark').dirty">Açıklama alanı dolması zorunludur.</div>
        </div>

        <div class="form-group">
            <label for="attachedunit">Birimin Bağlı Olduğu Birim Id'si</label>
            <input type="text" name="attachedunit" id="attachedunit" formControlName="attachedunit" class="form-control" placeholder="üst birim" readonly="true">
            <div class="alert alert-danger" *ngIf="unitAddForm.get('attachedunit').hasError('required') && unitAddForm.get('attachedunit').dirty">Baglı birim alanı dolması zorunludur.</div>
          </div>

          <div class="form-group">
            <input type="text" name="typeid" id="typeid" formControlName="typeid" class="form-control" placeholder="Birim Türü Id'si">
          </div>
          <button type="submit" class="btn btn-success" > ekle </button>
</form>
<div class="row"  *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>Birim başarılı bir şekilde eklendi.</strong>
    </p>
  </div>
</div>
{{ unitAddForm.value | json }}