
<br>
<br>
<div class="container">
<div class="alert alert-danger" *ngIf='invalidLogin'>{{errorMessage}}</div>


<div class="container">
    <div class="alert alert-danger" *ngIf='ifLogin'>{{errorMessage2}}</div>

<div *ngIf='!ifLogin'>
        <h1>Giriş yap !</h1>
User name : <input type="text" name="username" [(ngModel)]="username">
<!-- [(ngModel)] Bu ifade type script tarafında ki username değişkiniyle eşleş demek
Yani burada inputdan almış olduğumuz username değerini login.component.ts tarafındaki username ile eşleştiriyoruz

-->
Password  : <input type="password" name="password" [(ngModel)]="password">

.         
<button (click)=handleJWTAuthLogin() class="btn btn-outline-primary">Giriş Yap</button>
    
.    
<button (click)=register() class="btn btn-outline-info">Kayıt Ol</button>

</div>

</div>